.fade
{
    opacity: 1;
}

.fade.ng-enter, .fade.ng-move
{
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.fade.ng-leave
{
    display:none;
}